<div class="hero-image">
    <img src="assets/woods.webp" alt="Hero image">
  </div>
  
   <!-- Dummy sadržaj za testiranje -->
   <!-- <div style="padding: 20px;">
     <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
       <h2>Section {{i}}</h2>
       <p>Lorem ipsum dolor sit amet...</p>
     </div>
   </div> -->



<section class="products-section">
  <div class="container">
    <div class="product-card" *ngIf="showElement" [@fadeIn]>
      <img src="assets/background.png" alt="Daske" class="home-icon">
      <p>Nudimo širok asortiman daske različitih dimenzija...</p>
      <button class="btn" routerLink="/proizvodi">Detalji</button>
    </div>
    <div class="product-card">
      <img src="assets/background.png" alt="Hiper" class="home-icon">
      <p>Nudimo širok asortiman daske različitih dimenzija...</p>
      <button class="btn" routerLink="/proizvodi">Detalji</button>
    </div>
  </div>
</section>

<section class="products-section">
  <div class="container">
    <div class="product-card">
      <img src="assets/background.png" alt="Daske" class="home-icon">
      <p>Nudimo širok asortiman daske različitih dimenzija...</p>
      <button class="btn" routerLink="/proizvodi">Detalji</button>
    </div>
    <div class="product-card">
      <img src="assets/background.png" alt="Hiper" class="home-icon">
      <p>Nudimo širok asortiman daske različitih dimenzija...</p>
      <button class="btn" routerLink="/proizvodi">Detalji</button>
    </div>
  </div>
</section>

<section class="products-section1">
  <div class="product-card1">
    <img src="assets/background.png" alt="Hiper" class="home-icon">
    <p>Nudimo širok asortiman daske različitih dimenzija...</p>
    <button class="btn" routerLink="/proizvodi">Detalji</button>
  </div>
</section>

<section class="section2">
  <div class="map-container3">
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2803.347134709974!2d20.068719800000004!3d45.3619897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b21f4c01ad68f%3A0x81be9ecf65a80ac6!2sMV%20drvo!5e0!3m2!1sen!2srs!4v1739752425379!5m2!1sen!2srs" 
      width="700" 
      height="450" 
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>

    <div class="map-container">
      
      <p class="right-paragraph">Ako imate bilo kakvih pitanja ili želite da naručite vrhunski ogrev, 
        slobodno nas kontaktirajte. Naša stručna ekipa je tu da vam pruži informacije i podršku.</p>
        <ul class="contact-info">
          <li><i class="fas fa-map-marker-alt"></i> Petra Kočića 11, Zabalj 21230</li>
          <li><i class="fas fa-phone"></i>+381 63 800 8054</li>
          <li><i class="fas fa-envelope"></i>mvasic1973&#64;gmail.com</li>
        </ul>
      
      
 
    </div>
</div>
</section>