
  .carousel-item img {
    width: 100%; 
    height: 92vh; /* Visina da bude 100% visine ekrana */
    overflow: hidden; /* Sakriva sve što izlazi iz okvira */
    position: relative;
  }
  
  .carousel-caption {
    background-color: rgba(87, 85, 85, 0.5); /* Poluprovidna pozadina za tekst */
  }
  


  .products-section {
    padding: 50px 0; /* Dodaje razmak iznad i ispod sekcije */
    background-color: #f4f4f4; /* Siva pozadina sekcije ddd */
}
.map-container {
  width: 50%; /* Pola ekrana */
  height: 65vh; /* Možeš podesiti visinu po želji */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.section2 {
  background-color:rgb(236, 234, 234); /* Siva pozadina sekcije */

}

.map-container iframe {
  width: 100%;
  height: 100%;
}


.map-container3 {
  display: flex;
  width: 50%; /* Svaka kartica zauzima pola ekrana */
  justify-content: space-between;
  gap: 30px; /* Razmak između proizvoda */
  width: 100%; /* Kartice popunjavaju punu širinu */

}
.right-paragraph {
  width: 80%; /* Podesi širinu na 50% ekrana */
  padding: 50px;
}

.products-section1 {
  padding: 50px 0; /* Dodaje razmak iznad i ispod sekcije */
  background-color: #f4f4f4; /* Siva pozadina sekcije */
      display: flex; /* Fleksibilno poravnanje */
    justify-content: center; /* Centriranje sadržaja horizontalno */
}

.container {
    display: flex; /* Postavlja elemente (product-card) u jedan red */
    justify-content: space-between; /* Raspoređuje kartice duž reda */
    gap: 30px; /* Razmak između proizvoda */
    width: 100%; /* Kartice popunjavaju punu širinu */
    margin: 0 auto; /* Centriranje sekcije */
}

.product-card {
    background-color: white; /* Bela pozadina kartice */
    padding: 20px; /* Unutrašnji razmak unutar kartice */
    border-radius: 8px; /* Zaobljeni uglovi kartice */
    text-align: center; /* Centriranje teksta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka za efekat podizanja */
    width: 50%; /* Svaka kartica zauzima pola ekrana */
    transition: transform 0.3s ease-in-out; /* Animacija kod hover efekta */
}
.product-card1 {
  background-color: white; /* Bela pozadina kartice */
  padding: 20px; /* Unutrašnji razmak unutar kartice */
  border-radius: 8px; /* Zaobljeni uglovi kartice */
  text-align: center; /* Centriranje teksta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka za efekat podizanja */
  width: 45%; /* Svaka kartica zauzima pola ekrana */
  transition: transform 0.3s ease-in-out; /* Animacija kod hover efekta */
}
.product-card1:hover {
  transform: translateY(-5px); /* Efekat podizanja kad se pređe mišem */
}

.product-card:hover {
    transform: translateY(-5px); /* Efekat podizanja kad se pređe mišem */
}

.home-icon {
    width: 100%; /* Slika zauzima 100% širine kartice */
    max-width: 800px; /* Maksimalna širina slike */
    height: auto; /* Održava proporcije slike */
    margin-bottom: 15px; /* Razmak između slike i teksta */
}

.btn {
    background-color: white; /* Plava boja dugmeta */
    color: rgb(0, 0, 0); /* Bela boja teksta */
    padding: 10px 15px; /* Unutrašnji razmak dugmeta */
    border: 1px solid #5a3d2b;
    border-radius: 5px; /* Zaobljeni uglovi dugmeta */
    cursor: pointer; /* Promena kursora pri hover efektu */
    text-decoration: none; /* Uklanja podvlačenje */
    display: inline-block; /* Omogućava normalno ponašanje dugmeta */
}

.btn:hover {
  background-color: rgba(5, 197, 37, 0.1);
}

.contact-info i {
  color:#cab5a3;
  width: 20px;
  
}

/* animacije */

@media (max-width: 768px) {
  .map-container {
    width: 50vw; /* Pola ekrana */
    height: 50vh; /* Možeš podesiti visinu po želji */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
  }
}
 @media (min-width: 769px) and (max-width: 1024px) {
  .map-container {
    width: 50vw; /* Pola ekrana */
    height: 50vh; /* Možeš podesiti visinu po želji */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
  }
}


@media (max-height: 500px) and (orientation: landscape) {
  .map-container {
    width: 50vw; /* Pola ekrana */
    height: 50vh; /* Možeš podesiti visinu po želji */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
  }
} 