
   <video autoplay muted loop id="background-video">
    <source src="assets/videos/background.mp4" type="video/mp4">
    <!-- Ako želiš dodatni format kao rezervu, možeš dodati webm -->
    Vaš preglednik ne podržava video tag.
  </video>
  

  <section class="content">
    <h1>Prirodna snaga drveta</h1>
    <p>Kvalitetne daske, friza i ogreva – pravo iz srca prirode.</p>
    <input type="text" placeholder="Pretraži proizvode..." class="search-box">
  </section>
  


<section class="products-section">
  <div class="container">
    <div class="product-card" *ngIf="showElement" [@fadeIn]>
      <img src="assets/background.webp" alt="Daska" class="home-icon">
      <p>Daske ...........</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/daska">Detalji</button>
    </div>
    <div class="product-card">
      <img src="assets/background.webp" alt="Hiper" class="home-icon">
      <p>hiper ..</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/hiper">Detalji</button>
    </div>
  </div>
</section>

<section class="products-section">
  <div class="container">
    <div class="product-card">
      <img src="assets/background.webp" alt="Ogrevno drvo" class="home-icon">
      <p>Ogrevno drvo .....</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/ogrevno-drvo">Detalji</button>
    </div>
    <div class="product-card">
      <img src="assets/background.webp" alt="Pilansko drvo na paleti" class="home-icon">
      <p>Pilansko drvo slozeno na paleti</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/pilansko-drvo-na-paleti">Detalji</button>
    </div>
  </div>
</section>

<section class="products-section">
  <div class="container">
    <div class="product-card">
      <img src="assets/background.webp" alt="Pilansko drvo u refuzi" class="home-icon">
      <p>Pilansko drvo u refuzi .....</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/pilansko-drvo-u-refuzi">Detalji</button>
    </div>
    <div class="product-card">
      <img src="assets/background.webp" alt="piljevinas" class="home-icon">
      <p>Piljevina .........</p>
      <p class="cena">Cena: 350-670e</p>
      <button class="btn" routerLink="/proizvodi/piljevina">Detalji</button>
    </div>
  </div>
</section>

<!-- <section class="products-section1">
  <div class="product-card1">
    <img src="assets/background.webp" alt="Hiper" class="home-icon">
    <p>Nudimo širok asortiman daske različitih dimenzija...</p>
    <p class="cena">Cena: 350-670e</p>
    <button class="btn" routerLink="/proizvodi">Detalji</button>
  </div>
</section> -->

<div class="faq-container">
  <h3>FAQ</h3>
  <div *ngFor="let item of faqItems" class="faq-item">
      <div class="faq-question" (click)="toggleAnswer(item)">
          <span>{{ item.question }}</span>
          <span class="arrow">{{ item.isOpen ? '▲' : '▼' }}</span>
      </div>
      <div class="faq-answer" *ngIf="item.isOpen">
          <p>{{ item.answer }}</p>
      </div>
  </div>
</div>
<!-- <hr> -->
