<section id="services" class="services-section">
    <div class="container">
      <h2 class="section-title">Naše Usluge</h2>
      <div class="services-grid">
        <div class="service-card">
          <img src="assets/images/daska.webp" alt="Daska" class="service-icon" />
          <h3 class="service-title">Daske</h3>
          <p class="service-description">Nudimo širok asortiman daske različitih dimenzija i vrsta, idealnih za sve vaše građevinske i nameštajske projekte.</p>
        </div>
        <div class="service-card">
          <img src="assets/images/hiper.webp" alt="Hiper" class="service-icon" />
          <h3 class="service-title">Hiper</h3>
          <p class="service-description">Tekst za hiper pisati ovde!</p>
        </div>
        <div class="service-card">
          <img src="assets/images/friza.webp" alt="Friza" class="service-icon" />
          <h3 class="service-title">Frize</h3>
          <p class="service-description">Visokokvalitetna friza za unutrašnju i spoljašnju upotrebu, koja je savršen izbor za završne radove i dekoraciju.</p>
        </div>
        <div class="service-card">
          <img src="assets/images/ogrevno_drvo.jpg" alt="Ogrevno Drvo" class="service-icon" />
          <h3 class="service-title">Ogrevno Drvo</h3>
          <p class="service-description">Kvalitetno ogrevno drvo za grejanje u zimskim mesecima. U ponudi imamo različite vrste drva, idealnih za vaše peći i kamine.</p>
        </div>
        <div class="service-card">
          <img src="assets/images/piljevina.jpg" alt="Piljevina" class="service-icon" />
          <h3 class="service-title">Piljevina</h3>
          <p class="service-description">Piljevina kao korisni materijal za razne primene, uključujući stvaranje komposta i svestranog goriva.</p>
        </div>
      </div>
    </div>
  </section>
  