<footer class="footer" id="footer_"> 
  <div >
    
            <!-- Prvo socijalne mreže -->
            <div class="floating-social-links">
                
                  <a href="https://www.facebook.com/profile.php?id=61572044206347" target="_blank" class="social-btn">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="https://www.instagram.com/mvdrvo" target="_blank" class="social-btn">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="https://www.tiktok.com/@mvdrvo" target="_blank" class="social-btn">
                    <i class="fab fa-tiktok"></i>
                  </a>
                  <a href="tel:+381638008054" class="floating-call-button">
                    <i class="fas fa-phone"></i>
                  </a>
               
              </div>


              <section>
                <div class="container">
                  <hr class="hr-section">
                  <div class="footer-card">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2803.347134709974!2d20.068719800000004!3d45.3619897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b21f4c01ad68f%3A0x81be9ecf65a80ac6!2sMV%20drvo!5e0!3m2!1sen!2srs!4v1739752425379!5m2!1sen!2srs" 
                    width="700" 
                    height="450" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
                  </div>
              
                  <div class="footer-card">
                    <p class="right-paragraph">Ako imate bilo kakvih pitanja ili želite da naručite vrhunski proizvod, 
                      slobodno nas kontaktirajte. Naša stručna ekipa je tu da Vam pruži informacije i podršku.</p>
                      <hr class="hr-footer">
                    
                    <div class="bottom-half">
                      <div class="f1">
                        <h4>Lokacija:</h4>
                        <hr class="hr-footer">
                        <ul class="contact-info">
                          <li><i class="fas fa-map-marker-alt"></i> Petra Kočića 11, Zabalj 21230</li>
                          <li><i class="fas fa-phone"></i>+381 63 800 8054</li>
                          <li><i class="fas fa-envelope"></i>mvasic1973&#64;gmail.com</li>
                        </ul>
                        <hr class="hr-footer">
                      </div>
                      
                      <div class="f1">
                        <h4>Radno Vreme:</h4>
                        <hr class="hr-footer">
                        <ul class="working-hours">
                          <li>Ponedeljak - Petak: 08:00 - 16:00</li>
                          <li>Subota: 09:00 - 14:00</li>
                          <li>Nedelja: Zatvoreno</li>
                        </ul>
                        <hr class="hr-footer">
                      </div>
                    </div>
      <div class="logo-section">
        <div class="logo">
          <hr class="hr-footer">
          <img src="assets/logo.webp" alt="MV DRVO Logo" class="logo-image">
          <hr class="hr-footer">
          <h3 class="working-hours">MV DRVO</h3>
          <p class="working-hours">
            Vaš pouzdani partner u svetu drvne industrije. 
            Kvalitet i profesionalnost su naš prioritet.
          </p>
        </div>

      </div>
               
                  </div>
              </div>
              </section>
   

   
    <!-- Donji deo footer-a -->
    <div class="footer-bottom">
      <div class="footer-bottom-content">
        <p>&copy; 2025 MV DRVO. Sva prava zadržana.</p>
      </div>
    </div>
    <!-- <img class="hero-image1" src="assets/woods.webp" alt="Hero image"> -->
  
  </div>
  </footer>