<video autoplay muted loop id="background-video">
  <source src="assets/videos/background.mp4" type="video/mp4">
  <!-- Ako želiš dodatni format kao rezervu, možeš dodati webm -->
  Vaš preglednik ne podržava video tag.
</video>

<section class="about-us" id="about">
    <div class="container">              <!-- div.container služi kao kontejner za sve elemente u sekciji, kako bi sadržaj bio centriran na ekranu.-->
      <h2>O Nama</h2>
      <p>Ovde idu slike skrol!</p>
      <p>
        Naša firma se bavi prodajom visokokvalitetnih drvenih proizvoda, kao što su daske, frize, ogrevno drvo i piljevina.
        Posvećeni smo pružanju najboljih materijala i usluga našim kupcima, sa fokusom na dugoročnu saradnju i zadovoljstvo.
      </p>
      <div class="about-content">           <!-- div.about-content sadrži pojedinačne stavke koje se prikazuju kao blokovi (about-item), svaka sa naslovom i opisom.-->
        <div class="about-item">
          <h3>Kvalitet</h3>
          <p>
            Svi naši proizvodi su pažljivo odabrani, sa naglaskom na kvalitet i izdržljivost, kako bi ispunili potrebe
            naših kupaca.
          </p>
        </div>
        <div class="about-item">
          <h3>Profesionalna Usluga</h3>
          <p>
            Naša posvećenost kvalitetnoj usluzi osigurava da svaki kupac bude zadovoljan sa svojim izborom i iskustvom
            sa našom firmom.
          </p>
        </div>
        <div class="about-item">
          <h3>Ekološki Pristup</h3>
          <p>
            Nastojimo koristiti održive izvore i materijale kako bi smanjili naš uticaj na životnu sredinu.
          </p>
        </div>
      </div>
    </div>
  </section>
  